# Virtual environment
.venv/
env/
venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Packaging & distribution
build/
dist/
*.egg-info/
.eggs/

# Environment and secrets
.env
.env.local

# IDE & OS
.DS_Store
.vscode/
.idea/
